{% extends "main.html" %}
{% load static %}
{% block class %}class="sub_page"{% endblock class %}
{% block main %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/css1.css'%}">

  <!-- Include Toastr CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
  <section>
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="{{ items.Image.url }}" height="400px" width="500px" class="slide">
        </div>
      </div>
      <div class="right">
        <h3>{{items.Item_name}}</h3>
        <h4> <small>Rs. </small>{{items.Price}} </h4>
        <p>{{items.description}}</p>
        <form method="POST" action="" id="counterForm">
          {% csrf_token %}
          <div class="add flex1">
            <span id="decrease" style="cursor: pointer;">-</span>
            <label id="counter">1</label>
            <input type="hidden" name="counter_value" id="counterValueInput" value="1">
            <span id="increase" style="cursor: pointer;">+</span>
          </div>
        <button id="purchase-button" type="submit"><span class="badge bg-warning">Purchase</span></button>
      </form>
      </div>
    </div>
  </section>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include Toastr JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <script>
    $(document).ready(function() {
      // Trigger the purchase success message when the button is clicked
      $("#purchase-button").on("click", function() {
        toastr.success("Purchase Was Successful");
      });
    });

  const counterLabel = document.getElementById("counter");
  const counterInput = document.getElementById("counterValueInput");
  const increaseBtn = document.getElementById("increase");
  const decreaseBtn = document.getElementById("decrease");

  // Increase or decrease the counter value
  increaseBtn.addEventListener("click", function() {
    let currentValue = parseInt(counterLabel.textContent);
    counterLabel.textContent = currentValue + 1;
    counterInput.value = currentValue + 1;
  });

  decreaseBtn.addEventListener("click", function() {
    let currentValue = parseInt(counterLabel.textContent);
    if (currentValue >= 1) {
      counterLabel.textContent = currentValue - 1;
      counterInput.value = currentValue - 1;
    }
  });
  </script>

  <script src="{% static 'script.js' %}"></script>
</body>

</html>

{% endblock main %}